body {
    font-family: Arial, Helvetica, sans-serif;
}

#dropdown {
    border: 2px black solid;
    width: 100%;
    height: fit-content;
    padding-right: 45px;
    list-style-type: none;
    text-align: center;
    font-size: 15px;
}
.item {
    border: 1px black solid;
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-right: 5px;
    cursor: pointer;
}
#selectedElement {
    border: 1px black solid;
    border-radius: 15px;
    padding: 10px;
    width: 100%;
    height:fit-content;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    justify-content: center;
}
div > img {
    width: 5%;
}

div > h4 {
    margin: 0px;
    font-size: 20px;
}

.container {
    width:8%;
}