body {
    font-family: Arial, Helvetica, sans-serif;
}

#dropdown {
    border: 2px black solid;
    width: fit-content;
    height: fit-content;
    padding-right: 45px;
    list-style-type: none;
}
.item {
    border: 1px black solid;
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-right: 5px;
}
div {
    border: 1px black solid;
    border-radius: 5px;
    padding: 10px;
    width: fit-content;
    height:fit-content;
    display: flex;
    align-items: center;
    gap: 10px;  
}
div > img {
    width: 5%;
}

div > h4 {
    margin: 0px;
}